@font-face {
    font-family: 'NauryzRedKeds';
    src: url('../fonts/NauryzRedKeds.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-light: #FBFAF8;
    --color-light-gray: #F1F2F0;
    --color-dark: #151515;
    --color-green: #BBC23F;

    --border-radius: 40px;

    --font-family-acsent: 'NauryzRedKeds', 'Arial', sans-serif;
    --font-family-base: 'Roboto', sans-serif;

    --padding-inline: 50px;
}

body {
    font-family: var(--font-family-base);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: var(--color-dark);
    background-color: var(--color-light);
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

.title {
    font-family: var(--font-family-acsent);
    font-size: clamp(45px, 3.9vw, 75px);
}

.title-small {
    text-transform: uppercase;
    font-size: 15px;

    transition:
        opacity 0.2s ease,
        transform 0.2s ease;
}

button {
    border: none;
}

address {
    font-style: normal;
}

input {
    border-radius: var(--border-radius);
    background-color: transparent;
    border: 1px solid var(--color-dark);
    padding: 12px 30px;

    font-family: var(--font-family-base);
    font-size: 20px;

    color: var(--color-light);

    border-radius: var(--border-radius);
}

input:not(:last-child) {
    margin-bottom: 10px;
}

.description {
    width: 90%;

    font-family: var(--font-family-base);
    font-size: clamp(18px, 1.3vw, 24px);
    line-height: 1.35;

    opacity: 0.8;
}

.small-acsent-title {
    line-height: 1;
    font-size: 25px;
    font-family: var(--font-family-acsent);
}

.button {
    padding: 12px 30px;

    font-family: var(--font-family-base);
    font-size: 20px;

    color: var(--color-light);
    background: var(--color-dark);

    border-radius: var(--border-radius);

    cursor: pointer;

    transition:
        transform 0.2s ease,
        opacity 0.2s ease;
}

.hero {
    min-height: 100svh;

    background-image: url('../images/main_background.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;
}

.hero::before {
    content: "";

    position: absolute;
    inset: 0;

    background: linear-gradient(
        to right,
        rgba(251, 250, 248, 0.65) 0%,
        rgba(251, 250, 248, 0.30) 25%,
        transparent 45%
    );

    pointer-events: none;
}

.header {
    z-index: 100;
    display: flex;
    justify-content: space-between;

    /* background-color: rgb(from var(--color-light-gray) r g b / 0.6); */

    padding: 30px var(--padding-inline);

    text-transform: uppercase;
    margin-bottom: 20px;
}

.header-logo {
    top: 50%;
    font-family: var(--font-family-acsent);
    font-size: 20px;
    z-index: 20;

    white-space: nowrap;
}

.header-menu {
    position: static;
}

.header-menu-list {
    display: flex;
    align-items: center;
    white-space: nowrap;

    gap: 40px;
}

.header-menu-link:hover {
    opacity: 0.5;
}

.header-menu-icons-list {
    display: flex;
    gap: 15px;
}

.burger {
    display: none;
}

.banner {
    position: relative;
    z-index: 1;
}

.banner-body {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 55px;

    align-items: flex-start;
    top: 40px;

    min-height: calc(100svh - 90px);

    padding: var(--padding-inline);
}

.banner-main-name {
    width: 90%;
    max-width: 26vw;

    font-family: var(--font-family-acsent);
    font-size: clamp(50px, 4.2vw, 80px);
    font-weight: normal;
    line-height: 1;
}

.banner-button:hover {
    transform: translateY(-2px);
}

.banner-button:active {
    transform: translateY(0);
}

.hero:not(:last-child) {
    margin-bottom: 100px;
}

.new-products {
    padding-inline: var(--padding-inline);
}

.new-products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.underlined {
    position: relative;
    padding-bottom: 5px;
}

.underlined::after {
    content: '';
    position: absolute;

    width: 100%;
    height: 2px;
    background-color: var(--color-dark);
    bottom: 0;
    left: 0;
}

.new-products-cards:last-child,
.about-content-statistics-list,
.catalog-products {
    padding-bottom: 100px;
}

.new-products-cards-list {
    display: flex;
    gap: 40px;
}

.card {
    position: relative;
}

.card:hover {
    cursor: pointer;
}

.card-image {
    border-radius: 5px;
}

.card-image:not(:last-child) {
    margin-bottom: 15px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-title {
    line-height: 1;
    font-size: 20px;
}

.card::after {
    content: '';
    position: absolute;

    right: 20px;
    top: 20px;

    background: url('../icons/heart.svg') center/contain no-repeat;
    opacity: 0.2;

    width: 25px;
    aspect-ratio: 1;
}

.new::before {
    content: 'New';
    position: absolute;

    left: 20px;
    top: 20px;

    background-color: var(--color-green);
    opacity: 0.8;
    color: var(--color-light);
    text-transform: uppercase;

    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: var(--border-radius);
}

.new-products:not(:last-child) {
    margin-bottom: 100px;
}

.about-content,
.catalog-content {
    padding-top: 20px;
}

.about-content-images {
    display: flex;
    width: 100%;
    height: 500px;
}

.about-content-image {
    display: block;
    height: 100%;
    object-fit: cover;
}

.about-content-image:first-child {
    width: 65%;
}

.about-content-image:last-child {
    width: 35%;
}

.about-content-text,
.about-content-statistics-list {
    padding-inline: var(--padding-inline);
}

.content-box {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 80px;
    align-items: center;
    line-height: 1;
}

.content-box:not(:last-child) {
    margin-bottom: 40px;
}

.about-content-text:not(:last-child) {
    margin-bottom: 40px;
}

.page-title {
    white-space: nowrap;
    font-family: var(--font-family-acsent);
    font-size: clamp(60px, 9vw, 172px);
}

.about-content-statistics-list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-top: 50px;
}

.about-content-statistics-item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.about-content-statistics-text {
    line-height: 1.35;
    font-size: 18px;
}

.about-content-statistics-result {
    font-size: clamp(25px, 3vw, 58px);
}

.catalog-content {
    padding-inline: var(--padding-inline);
}

.catalog-buttons-list {
    display: flex;
    gap: 30px;
}

.catalog-button {
    white-space: nowrap;
    padding: 12px 30px;

    font-family: var(--font-family-base);
    font-size: 20px;

    color: var(--color-dark);
    background: var(--color-light-gray);

    border-radius: var(--border-radius);
    border: 1px solid var(--color-light-gray);

    cursor: pointer;

    transition:
        transform 0.2s ease,
        opacity 0.2s ease;
}

.catalog-button.toggled-button {
    background: var(--color-dark);

    border-radius: var(--border-radius);
    border: 1px solid var(--color-dark);
    color: var(--color-light);
}

.catalog-header {
    position: relative;
    padding-bottom: 40px;
}

.catalog-header:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--color-light-gray);
    bottom: 0;
    left: 0;
}

.catalog-products {
    padding-top: 40px;
}

.catalog-products-cards-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.catalog-filters {
    justify-content: space-between;
    padding-bottom: 40px;
}

.catalog-filters,
.catalog-filters-sort,
.catalog-filters-sort-item {
    display: flex;
}

.catalog-filters,
.catalog-filters-item,
.catalog-filters-sort-item {
    align-items: center;
}

.catalog-filters-list {
    display: flex;
    gap: 40px;
}

.catalog-filters-item {
    display: flex;
    gap: 15px;
}

.catalog-filters-item-name,
.catalog-filters-sort {
    line-height: 1;
    font-size: 20px;
}

.catalog-filters-item-name:hover {
    cursor: pointer;
}

.catalog-filters-sort-item {
    gap: 15px;
}

.catalog-filters-sort {
    gap: 40px;
    align-items: center;
}